@{
    ViewBag.Title = "About";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <br />
    <p>I'm trying my best I swear.</p>
    <p>I'm 26 year old trying to be a programmer one day okay.</p>
</main>