@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h3>@ViewBag.Message</h3>

    <address>
        Malminkatu 25<br />
        28610 Pori<br />
    </address>

    <address>
        <strong>Email me:</strong>   <a href="mailto:talvikart@gmail.com">Talvikart@gmail.com</a>
    </address>
</main>