@{
    ViewBag.Title = "Orders App Demo Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Demo Site</h1>
        <p class="lead">This is my demo site. It might work.</p>
    </section>

</main>